.pinterest_footer {
    text-align: center;
    margin-top: 2rem;
}

.pinterest_logo {
    font-family: 'Lobster', sans-serif;
}

.pinterest_footer_button {
    font-size: .9rem;
}

.pinterest_head {
    text-align: center;
    margin: 2rem 0;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

.pinterest_nav {
    margin: 0 0.5rem;
}

.pinterest_header_navbar {
    margin: 1rem 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}
