.pinterest_footer {
    text-align: center;
    margin-top: 2rem;
}

.pinterest_logo {
    font-family: 'Lobster', sans-serif;
}

.pinterest_footer_button {
    font-size: .6rem;
}

.pinterest_head {
    text-align: center;
    margin: 2rem 0;
}